<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.idp.server.adapters.springboot.infrastructure.datasource.organization.OrganizationMapper">

    <insert id="insert">
        INSERT INTO organization(id, name, description)
        VALUES
            (
              #{organization.identifier.value},
             #{organization.name.value},
             #{organization.description.value}
            );
    </insert>

    <insert id="insertTenants">
        INSERT INTO organization_tenants(organization_id, tenant_id)
        VALUES
        <foreach collection="organization.assignedTenants.values" item="tenant" separator=",">
            (
            #{organization.identifier.value},
            #{tenant.identifier.value}
            )
        </foreach>
    </insert>

    <update id="update">
        UPDATE organization
            SET name = #{organization.name.value}
                description = #{organization.description.value}
        WHERE
            id = #{organizationIdentifier.value};
    </update>

    <resultMap id="Organization" type="org.idp.server.adapters.springboot.domain.model.organization.Organization">
        <id property="identifier.value" column="id"/>
        <result property="name.value" column="name"/>
    </resultMap>

    <sql id="select">
        SELECT
            id,
            name,
            type,
            issuer
        FROM organization
    </sql>

    <select id="selectBy" resultMap="Organization">
        <include refid="select" />
        WHERE
         id = #{organizationIdentifier.value}
    </select>


</mapper>