version: '3'

services:
  nginx:
    build: ./nginx
    image: fapi-nginx
    ports:
      - "443:443"
  postgresql:
    image: postgres:15
    container_name: postgres
    environment:
      - POSTGRES_USER=idpserver
      - POSTGRES_PASSWORD=idpserver
      - POSTGRES_DB=idpserver
    ports:
      - "5432:5432"
  verifiable-credentials:
    build: ./verifiable-credentials
    container_name: verifiable-credentials
    ports:
      - "8000:3000"
    environment:
      - ADDRESS=$ADDRESS
      - PRIVATE_KEY=$PRIVATE_KEY
      - WEB3_URL=$WEB3_URL
      - VERIFICATION_METHOD=$VERIFICATION_METHOD
      - CHAIN=$CHAIN
