idp:
  configurations:
   serverUrl: "${SERVER_URL:http://localhost:8080}"
   adminTenantId: "${ADMIN_TENANT_ID:67e7eae6-62b0-4500-9eff-87459f63fc66}"
   adminDashboardUrl: "${ADMIN_DASHBOARD_URL:http://localhost:3000}"
   apiKey: ${IDP_SERVER_API_KEY}
   apiSecret: ${IDP_SERVER_API_SECRET}
   encryptionKey: ${ENCRYPTION_KEY}
  datasource:
    admin:
      postgresql:
        writer:
          url: "${DB_WRITER_URL:jdbc:postgresql://localhost:5432/idpserver}"
          username: "${ADMIN_DB_WRITER_USER_NAME:idpserver}"
          password: "${ADMIN_DB_WRITER_PASSWORD:idpserver}"
          hikari:
            connection-timeout: ${ADMIN_DB_WRITER_TIMEOUT:2000}
            maximum-pool-size: ${ADMIN_DB_WRITER_MAX_POOL_SIZE:10}
            minimum-idle: ${ADMIN_DB_WRITER_MIN_IDLE:5}
        reader:
          url: "${DB_READER_URL:jdbc:postgresql://localhost:5432/idpserver}"
          username: "${ADMIN_DB_READER_USER_NAME:idpserver}"
          password: "${ADMIN_DB_READER_PASSWORD:idpserver}"
          hikari:
            connection-timeout: ${ADMIN_DB_READER_TIMEOUT:2000}
            maximum-pool-size: ${ADMIN_DB_READER_MAX_POOL_SIZE:10}
            minimum-idle: ${ADMIN_DB_READER_MIN_IDLE:5}

      mysql:
        writer:
          url: "${DB_WRITER_URL:jdbc:mysql://localhost:3306/idpserver}"
          username: "${ADMIN_DB_WRITER_USER_NAME:idpserver}"
          password: "${ADMIN_DB_WRITER_PASSWORD:idpserver}"
          hikari:
            connection-timeout: ${ADMIN_DB_WRITER_TIMEOUT:2000}
            maximum-pool-size: ${ADMIN_DB_WRITER_MAX_POOL_SIZE:30}
            minimum-idle: ${ADMIN_DB_WRITER_MIN_IDLE:10}
        reader:
          url: "${DB_READER_URL:jdbc:mysql://localhost:3306/idpserver}"
          username: "${ADMIN_DB_READER_USER_NAME:idpserver}"
          password: "${ADMIN_DB_READER_PASSWORD:idpserver}"
          hikari:
            connection-timeout: ${ADMIN_DB_READER_TIMEOUT:2000}
            maximum-pool-size: ${ADMIN_DB_READER_MAX_POOL_SIZE:30}
            minimum-idle: ${ADMIN_DB_READER_MIN_IDLE:10}
    app:
      postgresql:
        writer:
          url: "${DB_WRITER_URL:jdbc:postgresql://localhost:5432/idpserver}"
          username: "${DB_WRITER_USER_NAME:idp_app_user}"
          password: "${DB_WRITER_PASSWORD:idp_app_user}"
          hikari:
            connection-timeout: ${DB_WRITER_TIMEOUT:2000}
            maximum-pool-size: ${DB_WRITER_MAX_POOL_SIZE:30}
            minimum-idle: ${DB_WRITER_MIN_IDLE:10}
        reader:
          url: "${DB_READER_URL:jdbc:postgresql://localhost:5432/idpserver}"
          username: "${DB_READER_USER_NAME:idp_app_user}"
          password: "${DB_READER_PASSWORD:idp_app_user}"
          hikari:
            connection-timeout: ${DB_READER_TIMEOUT:2000}
            maximum-pool-size: ${DB_READER_MAX_POOL_SIZE:30}
            minimum-idle: ${DB_READER_MIN_IDLE:10}

      mysql:
        writer:
          url: "${DB_WRITER_URL:jdbc:mysql://localhost:3306/idpserver}"
          username: "${DB_WRITER_USER_NAME:idpserver}"
          password: "${DB_WRITER_PASSWORD:idpserver}"
          hikari:
            connection-timeout: 3000
            maximum-pool-size: 5
            minimum-idle: 2
        reader:
          url: "${DB_READER_URL:jdbc:mysql://localhost:3306/idpserver}"
          username: "${DB_READER_USER_NAME:idpserver}"
          password: "${DB_READER_PASSWORD:idpserver}"
          hikari:
            connection-timeout: 2000
            maximum-pool-size: 3
            minimum-idle: 1
  cache:
    enabled: ${CACHE_ENABLE:true}
    timeToLiveSecond: ${CACHE_TIME_TO_LIVE_SECOND:300}
    redis:
      host: "${REDIS_HOST:localhost}"
      port: ${REDIS_PORT:6379}
      maxTotal: 20
      maxIdle: 3
      minIdle: 2

logging:
  level:
    root: "${LOGGING_LEVEL_ROOT:info}"
    web: "${LOGGING_LEVEL_WEB:info}"

spring:
  data:
    redis:
      host: "${REDIS_HOST:localhost}"
      port: ${REDIS_PORT:6379}
  session:
    redis:
      configure-action: none
    timeout: "${SESSION_TIMEOUT:3600s}"

server:
  tomcat:
    threads:
      max: 300
      min-spare: 50
