idp:
  configurations:
   apiKey: ${IDP_SERVER_API_KEY}
   apiSecret: ${IDP_SERVER_API_SECRET}
   basePath: "src/main/resources/config/sample"
   publicTenantDomain: "${PUBLIC_TENANT_DOMAIN:http://localhost:8080/}"
   email:
    url: "${EMAIL_URL:https://api.mailgun.net/v3/sandbox77f9e7d20fc4473bab64ca8029d92cbe.mailgun.org}"
    username: "api"
    apiKey: "${EMAIL_API_KEY:dumy}"
    sender: "${EMAIL_SENDER:idp-server <postmaster@sandbox77f9e7d20fc4473bab64ca8029d92cbe.mailgun.org>}"


spring:
  datasource:
    url: "${JDBC_DATABASE_URL:jdbc:postgresql://localhost:5432/idpserver?password=idpserver&user=idpserver}"
    hikari:
      connection-timeout: 3000
      maximum-pool-size: 50
      minimum-idle: 50
  mail:
    host: smtp.gmail.com
    port: 587
    username: "${EMAIL_USER_NAME}"
    password: "${EMAIL_PASSWORD}"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

logging:
  level:
    root: info
    web: info
    org.mybatis: debug
    org.idp.sample: debug




