idp:
  configurations:
   adminTenantId: "${ADMIN_TENANT_ID:67e7eae6-62b0-4500-9eff-87459f63fc66}"
   apiKey: ${IDP_SERVER_API_KEY}
   apiSecret: ${IDP_SERVER_API_SECRET}
   encryptionKey: ${ENCRYPTION_KEY}
   serverUrl: "${IDP_SERVER_DOMAIN:http://localhost:8080/}"
   adminAuthViewUrl: "${IDP_AUTH_ADMIN_VIEW_URL:http://localhost:3100/}"
   authViewUrl: "${IDP_AUTH_VIEW_URL:http://localhost:3100/}"
   additionalAuthViewUrls: "${ADDITIONAL_AUTH_VIEW_URLS:}"
  datasource:
    postgresql:
      writer:
        url: "${DB_WRITE_URL:jdbc:postgresql://localhost:5432/idpserver}"
        username: "${DB_WRITE_USER_NAME:idp_app_user}"
        password: "${DB_WRITE_PASSWORD:idp_app_user}"
        hikari:
          connection-timeout: 2000
          maximum-pool-size: 5
          minimum-idle: 2
      reader:
        url: "${DB_READ_URL:jdbc:postgresql://localhost:5432/idpserver}"
        username: "${DB_READ_USER_NAME:idp_app_user}"
        password: "${DB_READ_PASSWORD:idp_app_user}"
        hikari:
          connection-timeout: 2000
          maximum-pool-size: 3
          minimum-idle: 1

    mysql:
      writer:
        url: "${DB_WRITE_URL:jdbc:mysql://localhost:3306/idpserver}"
        username: "${DB_WRITE_USER_NAME:idpserver}"
        password: "${DB_WRITE_PASSWORD:idpserver}"
        hikari:
          connection-timeout: 3000
          maximum-pool-size: 5
          minimum-idle: 2
      reader:
        url: "${DB_READ_URL:jdbc:mysql://localhost:3306/idpserver}"
        username: "${DB_READ_USER_NAME:idpserver}"
        password: "${DB_READ_PASSWORD:idpserver}"
        hikari:
          connection-timeout: 2000
          maximum-pool-size: 3
          minimum-idle: 1
  cache:
    enabled: true
    timeToLiveSecond: ${CACHE_TIME_TO_LIVE_SECOND:300}
    redis:
      host: "${REDIS_HOST:localhost}"
      port: ${REDIS_PORT:6379}
      maxTotal: 20
      maxIdle: 3
      minIdle: 2

logging:
  level:
    root: info
    web: info




