idp:
  configurations:
   adminTenantId: "${ADMIN_TENANT_ID:67e7eae6-62b0-4500-9eff-87459f63fc66}"
   apiKey: ${IDP_SERVER_API_KEY}
   apiSecret: ${IDP_SERVER_API_SECRET}
   encryptionKey: ${ENCRYPTION_KEY}
   databaseType: "${DATABASE_TYPE:POSTGRESQL}"
  session:
    mode: "${IDP_SESSION_MODE:redis}"
  time:
   zone: "${TIME_ZONE:UTC}"
  datasource:
    control-plane:
      writer:
        url: "${CONTROL_PLANE_DB_WRITER_URL:jdbc:postgresql://localhost:5432/idpserver}"
        username: ${CONTROL_PLANE_DB_WRITER_USER_NAME}
        password: ${CONTROL_PLANE_DB_WRITER_PASSWORD}
        hikari:
          connection-timeout: ${CONTROL_PLANE_DB_WRITER_TIMEOUT:2000}
          maximum-pool-size: ${CONTROL_PLANE_DB_WRITER_MAX_POOL_SIZE:10}
          minimum-idle: ${CONTROL_PLANE_DB_WRITER_MIN_IDLE:5}
      reader:
        url: "${CONTROL_PLANE_DB_READER_URL:jdbc:postgresql://localhost:5433/idpserver}"
        username: ${CONTROL_PLANE_DB_READER_USER_NAME}
        password: ${CONTROL_PLANE_DB_READER_PASSWORD}
        hikari:
          connection-timeout: ${CONTROL_PLANE_DB_READER_TIMEOUT:2000}
          maximum-pool-size: ${CONTROL_PLANE_DB_READER_MAX_POOL_SIZE:10}
          minimum-idle: ${CONTROL_PLANE_DB_READER_MIN_IDLE:5}
    app:
      writer:
        url: "${DB_WRITER_URL:jdbc:postgresql://localhost:5432/idpserver}"
        username: ${DB_WRITER_USER_NAME}
        password: ${DB_WRITER_PASSWORD}
        hikari:
          connection-timeout: ${DB_WRITER_TIMEOUT:2000}
          maximum-pool-size: ${DB_WRITER_MAX_POOL_SIZE:30}
          minimum-idle: ${DB_WRITER_MIN_IDLE:10}
      reader:
        url: "${DB_READER_URL:jdbc:postgresql://localhost:5433/idpserver}"
        username: ${DB_READER_USER_NAME}
        password: ${DB_READER_PASSWORD}
        hikari:
          connection-timeout: ${DB_READER_TIMEOUT:2000}
          maximum-pool-size: ${DB_READER_MAX_POOL_SIZE:30}
          minimum-idle: ${DB_READER_MIN_IDLE:10}
  cache:
    enabled: ${CACHE_ENABLE:true}
    timeToLiveSecond: ${CACHE_TIME_TO_LIVE_SECOND:300}
    redis:
      host: "${REDIS_HOST:localhost}"
      port: ${REDIS_PORT:6379}
      maxTotal: ${REDIS_MAX_TOTAL:20}
      maxIdle: ${REDIS_MAX_IDLE:3}
      minIdle: ${REDIS_MIN_IDLE:2}

logging:
  level:
    root: "${LOGGING_LEVEL_ROOT:info}"
    web: "${LOGGING_LEVEL_WEB:info}"
    org:
      idp:
        server:
          platform: "${LOGGING_LEVEL_IDP_SERVER_PLATFORM:info}"
          authentication: "${LOGGING_LEVEL_IDP_SERVER_AUTHENTICATION_INTERACTORS:info}"
          control_plane: "${LOGGING_LEVEL_IDP_SERVER_CONTROL_PLANE:info}"
          core.oidc: "${LOGGING_LEVEL_IDP_SERVER_CORE_OIDC:info}"
          core.adapters: "${LOGGING_LEVEL_IDP_SERVER_CORE_ADAPTERS:info}"
          core.extension: "${LOGGING_LEVEL_IDP_SERVER_CORE_EXTENSION:info}"
          emai.aws: "${LOGGING_LEVEL_IDP_SERVER_EMAIL_AWS:info}"
          federation:  "${LOGGING_LEVEL_IDP_SERVER_FEDERATION:info}"
          notification.push.fcm: "${LOGGING_LEVEL_IDP_SERVER_NOTIFICATION_PUSH_FCM:info}"
          security.event.hook.ssf: "${LOGGING_LEVEL_IDP_SERVER_SECURITY_EVENT_HOOK_SSF:info}"
          security.event.hooks: "${LOGGING_LEVEL_IDP_SERVER_SECURITY_EVENT_HOOKS:info}"
          adapters.springboot: "${LOGGING_LEVEL_IDP_SERVER_ADAPTERS_SPRING_BOOT:info}"
          usecases: "${LOGGING_LEVEL_IDP_SERVER_USECASES:info}"
          authenticators.webauthn4j: "${LOGGING_LEVEL_IDP_SERVER_AUTHENTICATORS_WEBAUTHN4J:info}"
    org.idp.server.platform.http.HttpRequestExecutor: "${LOGGING_LEVEL_IDP_SERVER_HTTP_REQUEST_EXECUTOR:debug}"

spring:
  data:
    redis:
      host: "${REDIS_HOST:localhost}"
      port: ${REDIS_PORT:6379}
      timeout: "${REDIS_TIMEOUT:2s}"
      jedis:
        pool:
          max-active: ${REDIS_JEDIS_POOL_MAX_ACTIVE:32}
          max-idle: ${REDIS_JEDIS_POOL_MAX_IDLE:16}
          min-idle: ${REDIS_JEDIS_POOL_MIN_IDLE:0}
  session:
    redis:
      configure-action: ${SPRING_SESSION_REDIS_CONFIGURE_ACTION:none}
    timeout: "${SESSION_TIMEOUT:3600s}"

server:
  tomcat:
    threads:
      max: ${SERVER_TOMCAT_THREADS_MAX:300}
      min-spare: ${SERVER_TOMCAT_THREADS_MIN_SPARE:50}
