<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Authorization Page</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
      /* Add any custom styles here */
  </style>
  <script th:inline="javascript">
    function updateFormAction(action) {
      document.getElementById('authorization-form').action = `/v1/${action}`;
    }
  </script>
</head>
<body class="bg-gray-100">
<div class="min-h-screen flex items-center justify-center">
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h2 class="font-bold" th:text="${clientName}"></h2>

    <div>
      <h3 class="font-bold">consent scopes:</h3>
      <ul th:each="scope : ${scopes}">
        <li class="mb-2"><span th:text="${scope}"></span></li>
      </ul>
    </div>

    <form id="authorization-form" method="post" th:action="@{/authorizations}">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
          Username:
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
               id="username" type="text" name="username" placeholder="Enter your username">
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Password:
        </label>
        <input class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
               id="password" type="password" name="password" placeholder="********">
        <p class="text-red-500 text-xs italic">Please choose a password.</p>
        <input type="hidden" name="id" th:value="${id}">
        <input type="hidden" name="tenantId" th:value="${tenantId}">
      </div>
      <div class="flex items-center justify-between">
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit" onclick="updateFormAction('deny')">
          Deny
        </button>
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit" onclick="updateFormAction('authorize')">
          Authorize
        </button>
      </div>
    </form>
  </div>
</div>
</body>
</html>
